.ui.secondary.menu.head {
  margin-top: 20px; }
  .ui.secondary.menu.head .logo {
    margin-left: 15px; }
  .ui.secondary.menu.head .sidenav {
    display: none; }
  @media (max-width: 767px) {
    .ui.secondary.menu.head .vertnav {
      display: none; }
    .ui.secondary.menu.head .sidenav {
      display: block; } }

.ui.secondary.menu.foot {
  margin: 20px 0; }
  .ui.secondary.menu.foot .copy {
    margin: 10px 0 0 15px; }

.carousel {
  margin-bottom: 30px; }

.carousel img {
  width: 100%;
  height: 100%; }

.carousel > div {
  display: none; }

.carousel {
  padding-bottom: 25%; }

.slick-initialized > div {
  display: block; }

.slick-initialized {
  padding-bottom: 0; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-prev {
  left: 10px;
  z-index: 1; }

.slick-next {
  right: 10px; }

p, a, ul, ol {
  font-size: 1.1rem; }

.immoad {
  display: inline-block;
  padding-top: 8px;
  margin-bottom: 8px; }
