.ui.secondary.menu {
    margin-top: 20px;

    .sidenav {
        display: none;
    }

    @media (max-width: 750px) {
        .vertnav {
            display: none;
        }

        .sidenav {
            display: block;
        }
    }
}