// Menu
.ui.secondary.menu.head {
    margin-top: 20px;

    .logo {
        margin-left: 15px;
    }

    .sidenav {
        display: none;
    }

    @media (max-width: 767px) {
        .vertnav {
            display: none;
        }

        .sidenav {
            display: block;
        }
    }
}

.ui.secondary.menu.foot {
    margin: 20px 0;

    .copy {
        margin: 10px 0 0 15px;
    }
}

// Carousel
.carousel {
    margin-bottom: 30px;
}

.carousel img {
    width: 100%;
    height: 100%;
}

// https://github.com/kenwheeler/slick/issues/981
.carousel > div {
    display: none;
}

.carousel {
    padding-bottom: 25%;
}

.slick-initialized > div {
    display: block;
}

.slick-initialized {
    padding-bottom: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

// Arrows inside
.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 10px;
}

// Text
p, a, ul, ol {
    font-size: 1.1rem;
}

.immoad {
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 8px;
}